.home{
    display: flex;
    flex-direction: column;

    .home__aside{
        height: 100vh;
        background-color: #835afd;
        color: #f8f8f8;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10rem 20%;

        .aside__img{
            max-width: 15rem;
        }
        .aside__strong{
            font: 700 25px 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }
        p{
            font-size: 20px;
            line-height: 32px;
            margin-top: 16px;
        }
    }
    .home__main{
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    .main-content{

        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;

        > .main-content__img {
            align-self: center;
        }

        h2{
            font-size: 24px;
            margin: 64px 0 24px;
            font-family: 'Poppins', sans-serif;
        }

        .main-content__btn{
            margin-top: 64px;
            height: 50px;
            border-radius: 8px;
            border: 0;
            font-weight: 500;
            background-color: #ea4335;
            filter: brightness(0.9);

            color: #fff;

            display: flex;
            justify-content: center;
            align-items: center;
            
            cursor: pointer;

            img{
                margin-right: 8px;
            }

            &:hover{
                transition: 0.2s;
                filter: none;
            }

        }

        .main-content__separator{
            font-size: 14px;
            color: #a8a8b3;
            margin: 32px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before{
                content: "";
                flex: 1;
                height: 1px;
                background-color: #a8a8b3;
                margin-right: 16px;
            }
            &:after{
                content: "";
                flex: 1;
                height: 1px;
                background-color: #a8a8b3;
                margin-left: 16px;
            }
        }

        .main-content__form {
            .form__input{
                height: 50px;
                border-radius: 8px;
                padding: 0 16px;
                background-color: #fff;
                border: 1px solid #a8a8b3;
            }
            .form__button{
                margin-top: 16px;
            }
            .form__button, .form__input{
                width: 100%;
            }

            p{
                font-size: 14px;
                color: #737380;
                margin-top: 16px;

                a{
                    color: #e559f9;
                }
            }
        }

        
    }
}

@media screen and(min-width: 1200px){
    
    .home{

        flex-direction: row;
    
        .home__aside{
            flex: 7;
            padding: 5rem 2.5rem;

            .aside__img{
                max-width: 20rem;
            }
            .aside__strong{
                font-size: 36px;
                
            }
            p{
                font-size: 24px;
            }
        }
        .home__main{
            flex: 8;
        }
    }


}