.button{
    height: 50px;
    border-radius: 8px;
    border: 0;
    font-weight: 500;
    background-color: #835afd;
    padding: 0 32px;

    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
            
    cursor: pointer;

    &.outlined{
        background-color: #fff;
        border: 1px solid #835afd;
        color: #835afd;

        &:hover{
            color: #5d27ff;
        }
    }

    &:not(:disabled):not(.outlined):hover{
        transition: 0.2s;
        filter: none;
        filter: brightness(0.9);
    }

    &:disabled{
        opacity: 0.6;
        cursor: default;
    }
}